<!DOCTYPE html>
<html>
<head>
	<title>Todo App</title>
	<link rel="shortcut icon" type="image/png" href="icon.png">
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<header>
		<h1>2Do Checker</h1>
		<h4>Your Personal Todo App</h4>
	</header>
	<section class="form">
		<input type="text" name="item" id="newtodo">
	</section>
	<ul class="list">
		<li><em>Loading ...</em></li>
	</ul>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="index.js"></script>
</html>